@import "@fontsource/radio-canada";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --zoom-value: 0.85;
}

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  zoom: var(--zoom-value);
  font-family: "Radio Canada", sans-serif !important;
}

#modal-root {
  zoom: var(--zoom-value);
  font-family: "Radio Canada", sans-serif !important;
}
/* css scrollbar style */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--variant-softBg, var(--joy-palette-neutral-softBg, var(--joy-palette-neutral-100, #F0F4F8)));
}

.adhoc-support-action {
  transform: translate(1451px, 55px)!important;
}

.grid-row-even{
  background: #f1f1f1;
}